@model Academy.Models.Trainer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trainer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainerFName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainerFName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainerLName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainerLName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneTraniner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneTraniner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CVFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CVFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainerImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainerImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Twitter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Linkedin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Linkedin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TrainerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
